{
  "openapi": "3.1.0",
  "info": {
    "title": "Narrative Mechanics API",
    "version": "1.0.0",
    "description": "Public endpoints for contact requests on diegodella.ar."
  },
  "servers": [
    {
      "url": "https://diegodella.ar"
    }
  ],
  "components": {
    "schemas": {
      "StatusResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "service": { "type": "string" },
          "version": { "type": "string" },
          "endpoints": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": ["ok", "service", "version", "endpoints"]
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["conversation", "updates"]
          },
          "name": { "type": "string" },
          "email": {
            "type": "string",
            "format": "email"
          },
          "subject": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["email", "subject", "message"]
      }
    }
  },
  "paths": {
    "/api/status": {
      "get": {
        "summary": "Health and capability status",
        "responses": {
          "200": {
            "description": "API status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "summary": "Send a contact or update request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Contact request sent" },
          "400": { "description": "Missing or invalid fields" },
          "500": { "description": "Delivery failure" }
        }
      }
    }
  }
}
